* {
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    flex-direction: row;
    background-color: #131313;
}

.navbar .navbar-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-item{
    text-align: center;
}

.navbar .navbar-nav .nav-link,
.dropdown .dropdown-menu .dropdown-item {
    color: white;
    text-decoration: none;
    font-family: "Calibri Light", sans-serif;
    font-weight: bolder;
    font-size: 20px;
    display: block;
    padding: 15px;
    min-width: 100px;
}

.navbar .navbar-nav .nav-link:hover,
.dropdown .dropdown-menu .dropdown-item:hover{
    background-color: #4b4b4b;
}

.dropdown {
    position: relative;
}

.dropdown .dropdown-menu{
    display: none;
    position: absolute;
    background-color: #131313;
}

.dropdown:hover .dropdown-menu{
    display: flex;
    flex-direction: column;
}

.navbar .navbar-toggle{
    align-items: center;
    padding:  10px;
    display: none;
}

.content{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: url("./img/AeraRuins.png") ; 
    background-size: cover;
}

.textbox{
    margin: 30px;
    background-color: #ffffff;
    opacity: 0.6;
}

.textbox{
    width: 500px;
    padding: 60px;
    font-family: "Calibri Light", sans-serif;
}

.textbox > h1{
    text-align: left;
}

.platform-available{
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: transparent;
    padding: 20px;
}

.lower-footer{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.socmed-logo{
    height: 37px;
    width: 42px;
}

.copyright{
    font-family: "Calibri Light", sans-serif;
    font-size: 17px;
    color: white;
    display: flex;
    padding-right: 17px;
}

.socmed-footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 400px;
    margin: 7px;
}

@media only screen and (max-width: 600px) {
    .navbar .navbar-toggle{
        display: flex;
        padding: 10px;
    }
    .navbar .navbar-nav{
        display: none;
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
    }
    .dropdown .dropdown-menu{
        position: relative;
    }
}