* {
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    flex-direction: row;
    background-color: #383838;
}

.dropbtn {
    background-color: #383838;
    color: white;
    padding: 5px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #383838;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #0CEB49;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #A9A9A9;}

  .dropdown-link{
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #383838;
  }


/* --------------  */
/* GALLERY EDITOR */
/* -------------- */

.gallerywrap > h2{
    color: white;
    background-color: #222;
    font-weight: bold;
    padding: 16px;
    font-size: 37px;
    font-family: "Calibri Light", sans-serif;
    text-align: center;
}

.gallerywrap{
    
    background-size: cover;
}

.gallery{
    display: none;
    background-color: #222;
}

.next, .prev{
    cursor: pointer;
    position: absolute;
    color: white;
    font-weight: bold;
    bottom: 50%;
    padding: 16px;
    font-size: 40px;
    z-index: 2147483647;
}

.prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
    font-family: "Calibri Light", sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

.imgnum {
    display: none;
}

.next{
    right: 0;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    background-color: black;
}

.demo {
    opacity: 0.6;
}
  
.active,
.demo:hover {
    opacity: 1;
}

.platform-available{
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: transparent;
    padding: 20px;
}

.lower-footer{
    background-color: #383838;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.socmed-logo{
    height: 37px;
    width: 42px;
}

.copyright{
    font-family: "Calibri Light", sans-serif;
    font-size: 17px;
    color: white;
    display: flex;
    padding-right: 17px;
}

.socmed-footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 400px;
    margin: 7px;
}

@media only screen and (max-width: 600px) {
    .navbar .navbar-toggle{
        display: flex;
        padding: 10px;
    }
    .navbar .navbar-nav{
        display: none;
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
    }
    .dropdown .dropdown-menu{
        position: relative;
    }
}